@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

section:not(.visual-area) {
  padding: 65px 0;
}

.common-inner {
  width: 1160px;
  margin: 0 auto;
}

.common-title {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 55px;
  padding-top: 10px;
}
.common-title::before, .common-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 20px;
  height: 5px;
  margin-bottom: 20px;
}
.common-title::before {
  right: 50%;
  border-radius: 90px 0 0 90px;
  background-color: #30e291;
}
.common-title::after {
  left: 50%;
  border-radius: 0 90px 90px 0;
  background-color: #3d5567;
}
.common-title b {
  font-size: 26px;
  color: #4cab6a;
}

@media (max-width: 768px) {
  section:not(.visual-area) {
    padding: 50px 15px;
  }
  .common-inner {
    width: 100%;
  }
  .common-title {
    margin-bottom: 30px;
  }
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}
header.active {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
header .common-inner {
  padding: 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 150px;
}
header nav .gnb-list {
  display: flex;
}
header nav .gnb-list a {
  padding: 15px;
  position: relative;
  display: block;
}
header nav .gnb-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #056531;
  height: 2px;
  width: 0;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.3s;
}
header nav .gnb-list a:hover::after {
  width: 100%;
}
header .trigger {
  display: none;
}
@media (max-width: 768px) {
  header .common-inner {
    width: 100%;
    padding: 25px 15px;
    display: flex;
    align-items: center;
  }
  header .logo a {
    display: flex;
    align-items: center;
  }
  header nav {
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -270px;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    transition: 0.5s;
  }
  header nav .gnb-list {
    display: block;
  }
  header nav.active {
    right: 0;
  }
  header .trigger {
    display: block;
    z-index: 99;
    padding: 5px 15px 15px 15px;
  }
  header .trigger::before {
    content: "\f0c9";
    font-family: fontawesome;
  }
  header .trigger.active::before {
    content: "X";
    font-family: fontawesome;
  }
}

/* visual-area */
.visual-area {
  height: 100vh;
  background: url(/img/bikebg.png) 0 bottom/120% repeat-x;
  animation: movebg 7s linear infinite;
  text-align: center;
  position: relative;
}
.visual-area .title {
  padding-top: 150px;
  font-size: 30px;
  font-weight: 600;
}
.visual-area .title strong {
  font-weight: 700;
  font-size: inherit;
  color: #4cab6a;
}
.visual-area .bikeicon-group {
  position: absolute;
  width: 100%;
  bottom: 75px;
  overflow: hidden;
}
.visual-area .bikeicon-group .bikeicon {
  width: 250px;
  position: relative;
  animation: bikemove 7s linear infinite;
}
.visual-area .bikeicon-group .bikeicon .bike-frame {
  width: 100%;
}
.visual-area .bikeicon-group .bikeicon .tire {
  position: absolute;
  width: 34%;
  bottom: 0;
  animation: tire-rotate 2.5s linear infinite;
}
.visual-area .bikeicon-group .bikeicon .tire01 {
  left: 0;
}
.visual-area .bikeicon-group .bikeicon .tire02 {
  right: 0;
}
.visual-area .main-tab-list {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  gap: 5px;
  padding: 0 5px;
}
.visual-area .main-tab-list li {
  width: 25%;
}
.visual-area .main-tab-list li a {
  background-color: #056531;
  color: #fff;
  display: block;
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.visual-area .main-tab-list li a:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-15px);
  background-color: #fff;
  color: #056531;
  font-weight: 600;
}
@media (max-width: 768px) {
  .visual-area .title {
    font-size: 23px;
    padding-top: 100px;
  }
  .visual-area .main-tab-list {
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
  }
  .visual-area .main-tab-list li {
    width: 47%;
  }
  .visual-area .bikeicon-group {
    bottom: 25px;
  }
}

/* info-area */
.info-area .info-img .info-img-list {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 7px;
}
.info-area .info-img .info-img-list .info-img-item {
  width: 47%;
  position: relative;
  overflow: hidden;
}
.info-area .info-img .info-img-list .info-img-item::before, .info-area .info-img .info-img-list .info-img-item::after,
.info-area .info-img .info-img-list .info-img-item span::before,
.info-area .info-img .info-img-list .info-img-item span::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #056531;
  z-index: 9;
  transition: 0.3s;
}
.info-area .info-img .info-img-list .info-img-item::before {
  top: 0;
  left: 0;
  right: 100%;
  height: 5px;
}
.info-area .info-img .info-img-list .info-img-item::after {
  top: 0;
  right: 0;
  bottom: 100%;
  width: 5px;
}
.info-area .info-img .info-img-list .info-img-item:hover::before {
  right: 0;
  transition-delay: 0s;
}
.info-area .info-img .info-img-list .info-img-item:hover::after {
  bottom: 0;
  transition-delay: 0.2s;
}
.info-area .info-img .info-img-list .info-img-item:hover img {
  transform: scale(1.1);
}
.info-area .info-img .info-img-list .info-img-item img {
  width: 100%;
  display: block;
  transition: 0.3s;
}
.info-area .info-img .info-img-list .info-img-item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.info-area .info-img .info-img-list .info-img-item span::before {
  bottom: 0;
  right: 0;
  left: 100%;
  height: 5px;
}
.info-area .info-img .info-img-list .info-img-item span::after {
  bottom: 0;
  left: 0;
  top: 100%;
  width: 5px;
}
.info-area .info-img .info-img-list .info-img-item span:hover::before {
  left: 0;
  transition-delay: 0.4s;
}
.info-area .info-img .info-img-list .info-img-item span:hover::after {
  top: 0;
  transition-delay: 0.6s;
}

/* app-area */
.app-area .common-inner {
  display: flex;
}
.app-area .app-slider-group {
  position: relative;
  width: 40%;
  text-align: center;
}
.app-area .app-slider-group .app-slider {
  position: absolute;
  top: 0;
  width: 277px;
  overflow: hidden;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-area .app-slider-group .app-slider .slick-dots {
  bottom: 5px;
}
.app-area .app-slider-group .app-slider .slick-dots li {
  margin: 0;
}
.app-area .app-download-group {
  position: relative;
  width: 60%;
}
.app-area .app-download-group .app-info-content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.app-area .app-download-group .app-info-content .app-thumb {
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
  width: 280px;
}
.app-area .app-download-group .app-info-content .app-thumb img {
  width: 100%;
  display: block;
}
.app-area .app-download-group .app-info-content .app-info h2 {
  margin-bottom: 15px;
  font-size: 22px;
}
.app-area .app-download-group .app-download-btn {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-area .app-download-group .app-download-btn a {
  padding: 20px 30px;
  border-radius: 10px;
  transition: 0.3s;
}
.app-area .app-download-group .app-download-btn a:first-child {
  margin-right: 20px;
}
.app-area .app-download-group .app-download-btn a:hover.playstore-btn {
  background-color: #fff;
  color: #056531;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.app-area .app-download-group .app-download-btn a:hover.appstore-btn {
  color: #056531;
  box-shadow: 0 0 3px #056531;
}
.app-area .app-download-group .app-download-btn a i {
  margin-right: 10px;
  font-size: 18px;
  color: inherit;
}
.app-area .app-download-group .app-download-btn a.playstore-btn {
  background-color: #056531;
  color: white;
}
.app-area .app-download-group .app-download-btn a.appstore-btn {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .app-area .common-inner {
    flex-direction: column-reverse;
  }
  .app-area .common-inner > div {
    width: 100%;
  }
  .app-area .common-inner .app-download-group .app-download-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 0;
    transform: translateY(0);
    margin: 20px 0;
  }
  .app-area .common-inner .app-download-group .app-download-btn a:first-child {
    margin-right: 0px;
  }
}

/* rental-area */
.rental-area {
  background-color: #f6f6f7;
}
.rental-area input[name=rentaltab] {
  display: none;
}
.rental-area .rental-content {
  display: flex;
  justify-content: center;
}
.rental-area .rental-content .rental-tab-group {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.rental-area .rental-content .rental-tab-group label {
  cursor: pointer;
  text-align: center;
}
.rental-area .rental-content .rental-tab-group label span {
  display: block;
  margin-top: 15px;
}
.rental-area .rental-content .rental-tab-group .rental-tab-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.rental-area .rental-content .rental-tab-group .rental-tab-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  filter: brightness(0.5);
}
.rental-area .rental-content .rental-tab-content {
  flex: 1;
  display: flex;
  justify-content: center;
}
.rental-area .rental-content .rental-tab-content .tab {
  display: none;
}
.rental-area .rental-content .rental-tab-content .tab h2 {
  font-size: 23px;
  margin-bottom: 15px;
}
.rental-area input[id=tab1]:checked ~ .rental-tab-group label[for=tab1] img,
.rental-area input[id=tab2]:checked ~ .rental-tab-group label[for=tab2] img,
.rental-area input[id=tab3]:checked ~ .rental-tab-group label[for=tab3] img {
  filter: brightness(1);
}
.rental-area input[id=tab1]:checked ~ .rental-tab-group label[for=tab1] span,
.rental-area input[id=tab2]:checked ~ .rental-tab-group label[for=tab2] span,
.rental-area input[id=tab3]:checked ~ .rental-tab-group label[for=tab3] span {
  color: #056531;
  font-weight: bold;
}
.rental-area input[id=tab1]:checked ~ .rental-tab-content .tab1,
.rental-area input[id=tab2]:checked ~ .rental-tab-content .tab2,
.rental-area input[id=tab3]:checked ~ .rental-tab-content .tab3 {
  display: block;
}
@media (max-width: 768px) {
  .rental-area .rental-content {
    flex-direction: column;
    gap: 50px;
  }
  .rental-area .rental-content .rental-tab-group {
    gap: 10px;
  }
  .rental-area .rental-content .rental-tab-group .rental-tab-img {
    width: 100%;
    height: 100%;
  }
  .rental-area .rental-content .rental-tab-content {
    padding-top: 20px;
  }
  .rental-area .rental-content .rental-tab-content .tab h2 {
    font-size: 19px;
  }
}

/* bike-area */
.bike-area .bike-list {
  display: flex;
  justify-content: space-around;
}
.bike-area .bike-list .bike-item {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
}
.bike-area .bike-list .bike-item span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #056531;
  border-radius: 45% 60% 55% 50%/45% 55% 60% 55%;
  transition: 0.5s;
}
.bike-area .bike-list .bike-item span:nth-child(1) {
  animation: circle 6s linear infinite;
}
.bike-area .bike-list .bike-item span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
}
.bike-area .bike-list .bike-item span:nth-child(3) {
  animation: circle 10s linear infinite;
}
.bike-area .bike-list .bike-item .bike-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
}
.bike-area .bike-list .bike-item .bike-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: brightness(75%);
}
.bike-area .bike-list .bike-item .bike-content .bike-info {
  transform: translateY(-30px);
}
.bike-area .bike-list .bike-item .bike-content .bike-info h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.bike-area .bike-list .bike-item:hover span {
  background-color: #056531;
  border: none;
}
.bike-area .bike-list .bike-item:hover span:nth-child(1) {
  opacity: 0.3;
}
.bike-area .bike-list .bike-item:hover span:nth-child(2) {
  opacity: 0.6;
}
.bike-area .bike-list .bike-item:hover span:nth-child(3) {
  opacity: 0.8;
}
.bike-area .bike-list .bike-item:hover .bike-content p {
  color: #fff;
}
@media (max-width: 768px) {
  .bike-area .bike-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bike-area .bike-list .bike-item {
    transform: scale(0.8);
  }
}

/* safe-area */
.safe-area {
  background: url(/img/mainimg.png) no-repeat center;
  position: relative;
}
.safe-area .safe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.safe-area .safe-list .safe-item {
  width: 22%;
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  position: relative;
  transition: 0.6s;
}
.safe-area .safe-list .safe-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #056531;
}
.safe-area .safe-list .safe-item img {
  width: 65%;
}
.safe-area .safe-list .safe-item .safe-info {
  background-color: #eee;
  min-height: 150px;
  padding: 5px;
}
.safe-area .safe-list .safe-item .safe-info h3 {
  margin-bottom: 15px;
}
.safe-area .safe-list .safe-item .safe-info p {
  word-break: keep-all;
}
@media (max-width: 768px) {
  .safe-area .safe-list {
    flex-direction: column;
    gap: 5px;
    flex-wrap: nowrap;
  }
  .safe-area .safe-list .safe-item {
    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-top: 0;
  }
  .safe-area .safe-list .safe-item img {
    width: 50px;
    margin-right: 5px;
  }
  .safe-area .safe-list .safe-item::before {
    border-right: 15px solid transparent;
    border-top: 15px solid #056531;
  }
  .safe-area .safe-list .safe-item .safe-info {
    width: 100%;
    min-height: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .safe-area .safe-list .safe-item .safe-info h3 {
    margin-bottom: 0;
  }
  .safe-area .safe-list .safe-item .safe-info p {
    display: none;
  }
}

/* customer-area */
.customer-area .common-inner {
  display: flex;
  gap: 30px;
}
.customer-area .common-inner > div {
  width: 50%;
}
.customer-area .common-inner .customer-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #C9C9C9;
}
.customer-area .common-inner .customer-title .more-btn {
  color: #aaa;
  font-size: 13px;
}
.customer-area .common-inner .customer-title .more-btn::before {
  content: "+";
  font-family: fontawesome;
  margin-right: 5px;
}
.customer-area .common-inner .notice-list .notice-item a {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: 1px solid #ddd;
}
.customer-area .common-inner .notice-list .notice-item.fixed a > div {
  color: #4cab6a;
  font-weight: bold;
}
.customer-area .common-inner .faq-list .faq-item {
  padding: 25px 20px;
  border-bottom: 1px solid #ddd;
}
.customer-area .common-inner .faq-list .faq-item .faq-title {
  cursor: pointer;
}
.customer-area .common-inner .faq-list .faq-item .faq-title::before {
  content: "Q";
  font-family: fontawesome;
  margin-right: 25px;
  color: #4cab6a;
}
.customer-area .common-inner .faq-list .faq-item .faq-title::after {
  content: "\f078";
  font-family: fontawesome;
  float: right;
  transition: 0.3s;
  color: #4cab6a;
}
.customer-area .common-inner .faq-list .faq-item .faq-desc {
  display: none;
  padding: 20px 25px 0 40px;
}
.customer-area .common-inner .faq-list .faq-item.active {
  background-color: rgba(5, 101, 50, 0.137254902);
}
.customer-area .common-inner .faq-list .faq-item.active .faq-title::after {
  transform: rotate(-180deg);
}
@media (max-width: 768px) {
  .customer-area .common-inner {
    flex-direction: column;
    gap: 40px;
  }
  .customer-area .common-inner > div {
    width: 100%;
  }
  .customer-area .common-inner .notice-list .notice-item a {
    padding: 15px 10px;
    gap: 5px;
  }
  .customer-area .common-inner .notice-list .notice-item .notice-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .customer-area .common-inner .faq-list .faq-item {
    padding: 15px 10px;
  }
  .customer-area .common-inner .faq-list .faq-item .faq-title::before {
    margin-right: 7px;
  }
  .customer-area .common-inner .faq-list .faq-item .faq-desc {
    display: none;
    padding: 15px 25px 0 20px;
  }
}

/* footer */
footer {
  padding: 60px 0;
  background-color: #EDEDED;
}
footer .common-inner {
  display: flex;
  justify-content: space-between;
}
footer .common-inner .policy-group .policy-list {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  font-weight: bold;
}
footer .common-inner .sns-group a {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}
footer .common-inner .sns-group a:last-child {
  margin-right: 0;
}
footer .common-inner .sns-group a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
footer .common-inner .sns-group a:hover::before {
  height: 100%;
}
footer .common-inner .sns-group a:hover img {
  filter: brightness(0) invert(1);
}
footer .common-inner .sns-group a:nth-child(1)::before {
  background-color: #e4405f;
}
footer .common-inner .sns-group a:nth-child(2)::before {
  background-color: #3b5999;
}
footer .common-inner .sns-group a:nth-child(3)::before {
  background-color: #00C73C;
}
footer .common-inner .sns-group a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: 0.5s;
}
@media (max-width: 768px) {
  footer .common-inner {
    flex-direction: column;
    padding: 0 15px;
  }
  footer .common-inner .policy-group {
    text-align: center;
  }
  footer .common-inner .policy-group .policy-list {
    justify-content: center;
  }
  footer .common-inner .policy-group .address .m-br {
    display: block;
  }
  footer .common-inner .sns-group {
    text-align: center;
    margin-top: 20px;
  }
}

/* keyframes */
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tire-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes movebg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 600% bottom;
  }
}
@keyframes bikemove {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(700%);
  }
}