section:not(.visual-area) {
  padding: 65px 0;
}

.common-inner {
  width: 1160px;
  margin: 0 auto;
}

.common-title {
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 55px;
  padding-top: 10px;

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 5px;
    margin-bottom: 20px;
  }

  &::before {
    right: 50%;
    border-radius: 90px 0 0 90px;
    background-color: $logo-color;
  }

  &::after {
    left: 50%;

    border-radius: 0 90px 90px 0;
    background-color: $point-bg;
  }

  b {
    font-size: 26px;
    color: $font-point-color;
  }


}