
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: .3s;

  &.active {
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  }
  .common-inner {
    padding: 30px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    img {
      width: 150px;
    }
  }

  nav {
    .gnb-list {
      display: flex;

      a {
        padding: 15px;
        position: relative;
        display: block;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          background-color: $point-color;
          height: 2px;
          width: 0;
          border-radius: 2px;
          transform: translateX(-50%);
          transition: 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  
}


/* visual-area */
.visual-area {
  height: 100vh;
  background: url(/img/bikebg.png) 0 bottom /120% repeat-x;
  animation: movebg 7s linear infinite;
  text-align: center;
  position: relative;

  .title {
    padding-top: 150px;
    font-size: 30px;
    font-weight: 600;

    strong {
      font-weight: 700;
      font-size: inherit;
      color: $font-point-color;
    }
  }

  .bikeicon-group {
    position: absolute;
    width: 100%;
    bottom: 75px;
    overflow: hidden;

    .bikeicon {
      width: 250px;
      position: relative;
      animation: bikemove 7s linear infinite;

      .bike-frame {
        width: 100%;
      }

      .tire {
        position: absolute;
        width: 34%;
        bottom: 0;
        animation: tire-rotate 2.5s linear infinite;
      }

      .tire01 {
        left: 0
      }

      .tire02 {
        right: 0;
      }
    }
  }
  .main-tab-list {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    gap: 5px;
    padding: 0 5px;

    li {
      flex: 1;

      a {
        background-color: $point-color;
        color: $white;
        display: block;
        padding: 20px;
        border-radius: 5px;
        transition: .5s;

        &:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          transform: translateY(-15px);
          background-color: $white;
          color: $point-color;
          font-weight: 600;
        }
      }
    }
  }


}

/* info-area */
.info-area {
  .info-img {
    .info-img-list {
      display: flex;
      justify-content: center;
      gap: 7px;
      margin-top: 7px;

      .info-img-item {
        width: 47%;
        position: relative;
        overflow: hidden;

        &::before,
        &::after,
        span::before,
        span::after {
          content: '';
          position: absolute;
          display: block;
          background-color: $point-color;
          z-index: 9;
          transition: .3s;
        }

        &::before {
          top: 0;
          left: 0;
          right: 100%;
          height: 5px;
        }

        &::after {
          top: 0;
          right: 0;
          bottom: 100%;
          width: 5px;
        }

        &:hover {
          &::before {
            right: 0;
            transition-delay: 0s;
          }

          &::after {
            bottom: 0;
            transition-delay: .2s;
          }

          img {
            transform: scale(1.1);

          }
        }

        img {
          width: 100%;
          display: block;
          transition: .3s;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;

          &::before {
            bottom: 0;
            right: 0;
            left: 100%;
            height: 5px;
          }

          &::after {
            bottom: 0;
            left: 0;
            top: 100%;
            width: 5px;
          }

          &:hover {
            &::before {
              left: 0;
              transition-delay: .4s;
            }

            &::after {
              top: 0;
              transition-delay: .6s;
            }
          }

        }


      }
    }
  }
}

/* app-area */
.app-area {
  .common-inner {
    display: flex;
  }

  .app-slider-group {
    position: relative;
    width: 40%;
    text-align: center;

    .app-slider {
      position: absolute;
      top: 0;
      width: 277px;
      overflow: hidden;
      border-radius: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .slick-dots {
        bottom: 5px;

        li {
          margin: 0;
        }
      }
    }
  }

  .app-info-group {
    position: relative;
    width: 60%;
    display: flex;
    align-items: flex-start;
    gap: 25px;

    .app-thumb {
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
      width: 280px;

      img {
        width: 100%;
        display: block;
      }
    }

    .app-info {
      h2 {
        margin-bottom: 5px;
        font-size: 22px;
      }

      .app-download-btn {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
          padding: 20px 30px;
          border-radius: 10px;
          transition: .3s;

          &:first-child {
            margin-right: 20px;
          }

          &:hover {
            &.playstore-btn {
              background-color: $white;
              color: $point-color;
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            }

            &.appstore-btn {
              color: $point-color;
              box-shadow: 0 0 3px $point-color;
            }
          }

          i {
            margin-right: 10px;
            font-size: 18px;
            color: inherit;
          }

          &.playstore-btn {
            background-color: $point-color;
            color: white;
          }

          &.appstore-btn {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

}

/* rental-area */
.rental-area {
  background-color: #f6f6f7;

  input[name=rentaltab] {
    display: none;
  }

  .rental-content {
    display: flex;
    justify-content: center;

    .rental-tab-group {
      flex: 1;
      display: flex;
      justify-content: space-around;

      label {
        cursor: pointer;
        text-align: center;

        span {
          display: block;
          margin-top: 15px;
        }
      }

      .rental-tab-img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        overflow: hidden;

        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          filter: brightness(.5);
        }
      }
    }

    .rental-tab-content {
      flex: 1;
      display: flex;
      justify-content: center;

      .tab {
        display: none;

        h2 {
          font-size: 23px;
          margin-bottom: 15px;
        }

      }
    }
  }

  input[id=tab1]:checked~.rental-tab-group label[for=tab1],
  input[id=tab2]:checked~.rental-tab-group label[for=tab2],
  input[id=tab3]:checked~.rental-tab-group label[for=tab3] {

    img {
      filter: brightness(1);
    }

    span {
      color: $point-color;
      font-weight: bold;
    }
  }

  input[id=tab1]:checked~.rental-tab-content .tab1,
  input[id=tab2]:checked~.rental-tab-content .tab2,
  input[id=tab3]:checked~.rental-tab-content .tab3 {
    display: block;
  }
}

/* bike-area */
.bike-area {
  .bike-list {
    display: flex;
    justify-content: space-around;

    .bike-item {
      width: 350px;
      height: 350px;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        width: inherit;
        height: inherit;
        border: 1px solid $point-color;
        border-radius: 45% 60% 55% 50% / 45% 55% 60% 55%;
        transition: 0.5s;

        &:nth-child(1) {
          animation: circle 6s linear infinite;
        }

        &:nth-child(2) {
          animation: circle 4s linear infinite;
          animation-direction: reverse;
        }

        &:nth-child(3) {
          animation: circle 10s linear infinite;
        }
      }

      .bike-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        text-align: center;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          filter: brightness(75%);
        }

        .bike-info {
          transform: translateY(-30px);

          h2 {
            margin-bottom: 10px;
            text-align: center;
            color: $white;
          }
        }

      }

      &:hover {
        span {
          background-color: $point-color;
          border: none;

          &:nth-child(1) {
            opacity: 0.3;
          }

          &:nth-child(2) {
            opacity: 0.6;
          }

          &:nth-child(3) {
            opacity: 0.8;
          }
        }

        .bike-content {
          p {
            color: $white;
          }
        }
      }
    }
  }
}

/* safe-area */
.safe-area {
  background: url(/img/mainimg.png) no-repeat center;
  position: relative;

  .safe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .safe-item {
      width: 22%;
      margin-top: 15px;
      text-align: center;
      background-color: $white;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
      padding-top: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-right: 50px solid transparent;
        border-top: 50px solid $point-color;
      }

      img {
        width: 65%;
      }

      .safe-info {
        background-color: #eee;
        min-height: 150px;
        padding: 5px;

        h3 {
          margin-bottom: 15px;
        }

        p {
          word-break: keep-all;
        }
      }
    }
  }

}

/* customer-area */
.customer-area {
  .common-inner {
    display: flex;
    gap: 30px;

    >div {
      width: 50%;
    }

    .customer-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 2px solid #C9C9C9;

      .more-btn {
        color: #aaa;
        font-size: 13px;

        &::before {
          content: '\2b';
          font-family: fontawesome;
          margin-right: 5px;
        }
      }
    }

    .notice-list {
      .notice-item {
        a {
          display: flex;
          justify-content: space-between;
          padding: 25px 20px;
          border-bottom: 1px solid #ddd;
        }

        &.fixed {
          a {
            >div {
              color: $font-point-color;
              font-weight: bold;
            }
          }
        }
      }

    }

    .faq-list {
      .faq-item {
        padding: 25px 20px;
        border-bottom: 1px solid #ddd;

        .faq-title {
          cursor: pointer;

          &::before {
            content: '\51';
            font-family: fontawesome;
            margin-right: 25px;
            color: $font-point-color;
          }

          &::after {
            content: '\f078';
            font-family: fontawesome;
            float: right;
            transition: .3s;
            color: $font-point-color;
          }
        }

        .faq-desc {
          display: none;
          padding: 20px 25px 0 40px;
        }

        &.active {
          background-color: #05653223;

          .faq-title {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
}

/* footer */
.footer-area {
  padding: 60px 0;
  background-color: #EDEDED;

  .common-inner {
    display: flex;
    justify-content: space-between;

    .policy-group {
      .policy-list {
        display: flex;
        gap: 20px;
        margin-bottom: 25px;
        font-weight: bold;
      }
    }

    .sns-group {
      a {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $white;
        overflow: hidden;
        position: relative;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 0;
          bottom: 0;
          left: 0;
          transition: .5s;
        }

        &:hover {
          &::before {
            height: 100%;
          }

          img {
            filter: brightness(0) invert(1);
          }
        }


        &:nth-child(1)::before {
          background-color: #e4405f;

        }

        &:nth-child(2)::before {
          background-color: #3b5999;
        }

        &:nth-child(3)::before {
          background-color: #00C73C;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transform: .5s;
        }
      }
    }

  }



}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tire-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes movebg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 600% bottom;
  }
}

@keyframes bikemove {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(700%);
  }
}