* {
  font-family: $font-default;
  font-size: 15px;
  color: $font-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
  }
}