@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap');

$font-default :  'Noto Sans KR', sans-serif;


$font-color : #333;
$point-color : #056531;
$point-bg : #3d5567;
$font-point-color : #4cab6a;
$logo-color :#30e291;

$white : #fff;

